@page "/iron"
@using BlazorApp1.Data;

<style>
    .UI {
        background-color: sandybrown;
        height: 800px;
        width: 800px;
        position: relative;
    }

    .Buttons {
        visibility: hidden;
        background-color: rosybrown;
        position: relative;
        height: 25px;
        width: 100%;
    }

    #Continue {
        visibility: visible;
        bottom: 0px;
        display: inline;
        text-align: center;
        height: auto;
        width: auto;
        position: absolute;
    }

    #modButton1 {
    }

    #modButton2 {
    }

    #modButton3 {
    }

    #modButton4 {
    }

    #map {
        background-size: cover;
        background-color: darkslategray;
        height: 25%;
        width: 25%;
        position: absolute;
        left: 0px;
        bottom: 0px;
        overflow: hidden;
    }

        #map img {
            transition: transform .5s ease;
        }

        #map:hover img {
            transform: scale(1.5);
        }


    #settings {
        background-color: slategray;
        height: 25%;
        width: 25%;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    #Dialog {
        position: absolute;
        left: 25%;
        right: 50%;
        background-color: slategray;
        height: 25%;
        width: 50%;
        bottom: 0px;
        border: 1px solid black;
    }

    #currentDialog {
        font-family: 'runescape_chat_bold_07regular';
        font-size: 1.2em;
        color: #FFFF00;
        display: inline-block;
        overflow: hidden;
        letter-spacing: 2px;
        font-size: 14px;
        box-sizing: border-box;
        transition: width 2s;
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }

    #Choices {
        position: absolute;
        left: 25%;
        right: 50%;
        background-color: darkslategrey;
        height: 20%;
        width: 50%;
        bottom: 25%;
    }
</style>

<h1>Iron</h1>
<div class="UI">
    <div id="map">
        <img src="../../img/Continent.png">
    </div>

    <div id="Choices">
        <button class="Buttons" id="Continue" @onclick="Continue">Continue...</button>
        <button class="Buttons" id="modButton1" @onclick="setButton1">@modButton1Text</button>
        <button class="Buttons" id="modButton2" @onclick="setButton2">@modButton2Text</button>
        <button class="Buttons" id="modButton3" @onclick="setButton3">@modButton3Text</button>
        <button class="Buttons" id="modButton4" @onclick="setButton4">@modButton4Text</button>

    </div>
    <div id="Dialog">
        <div id="currentDialog">@currentDialog</div>
    </div>
    <div id="settings">

    </div>
</div>
@inject IJSRuntime JSRuntime
@code {

    string currentDialog = "Welcome. Press 'Continue...' to advance Dialog";
    string nextDialog = "";
    string modButton1Text = "0";
    string modButton2Text = "0";
    string modButton3Text = "0";
    string modButton4Text = "0";

    private void setInnerHTML(string id, string content)
    {
        JSRuntime.InvokeVoidAsync("setInnerHTML", id, content);
    }

    private void setElementVis(string id, string vis)
    {
        JSRuntime.InvokeVoidAsync("setElementVis", id, vis);
    }

    private void createElementNew(string type, string parentid, string childid, string content)
    {

    }

    void Continue()
    {
        nextDialog = getNewDialog(1);
        currentDialog = nextDialog;


    }


    static private string getConnectionString()
    {
        return "Server=(localdb)\\mssqllocaldb;Database=aspnet-BlazorApp1-048656A3-24D4-4ABA-8D48-4D9CB15501DB;Trusted_Connection=True;MultipleActiveResultSets = true;";
    }


    string getNewDialog(int index)
    {

        //get new dialog from DB. Based on NPC, quest active/inactive, etc.


        string newDialog = "";
        switch (index)
        {
            case 1: //case 1 is considered introductory and is hard coded for testing
                newDialog = "Welcome to the world of Iron. You will begin your journey in the city fo StormHaven. " +
                        "Would you like to read some lore about StormHaven before beginning?";
                setElementVis("modButton1", "visible");
                setElementVis("modButton2", "visible");
                setInnerHTML("modButton1", "Yes");
                setInnerHTML("modButton2", "No");
                if (modButton1Text == "1")
                {
                    newDialog = "StormHaven's History By Gregory";
                    clearButtons();


                    var builder = new System.Text.StringBuilder();
                    builder.Append(newDialog);
                    for (int i = 0; i < 5; i++)
                    {

                        System.Threading.Thread.Sleep(1000);
                        builder.Append(" . ");

                        newDialog = builder.ToString();
                        setInnerHTML("currentDialog", newDialog);

                    }

                }
                else if (modButton2Text == "1")
                {
                    newDialog = "You just missed out on hints for some treasure. Nice job.";
                    clearButtons();
                }
                break;
        }

        return newDialog;
    }

    void clearButtons()
    {
        modButton1Text = "0";
        modButton2Text = "0";
        modButton3Text = "0";
        modButton4Text = "0";
        setElementVis("modButton1", "hidden");
        setElementVis("modButton2", "hidden");
        setElementVis("modButton3", "hidden");
        setElementVis("modButton4", "hidden");
        setInnerHTML("modButton1", "");
        setInnerHTML("modButton2", "");
        setInnerHTML("modButton3", "");
        setInnerHTML("modButton4", "");
    }

    void setButton1()
    {
        modButton1Text = "1";
        modButton2Text = "0";
        modButton3Text = "0";
        modButton4Text = "0";
        Continue();
    }

    void setButton2()
    {
        modButton1Text = "0";
        modButton2Text = "1";
        modButton3Text = "0";
        modButton4Text = "0";
        Continue();
    }
    void setButton3()
    {

        modButton1Text = "0";
        modButton2Text = "0";
        modButton3Text = "1";
        modButton4Text = "0";
        Continue();
    }
    void setButton4()
    {

        modButton1Text = "0";
        modButton2Text = "0";
        modButton3Text = "0";
        modButton4Text = "1";
        Continue();
    }
}
